// BRANDING
$slide-bg: #f9f7f5; // linear-gradient(45deg, #d3d8dc 0%, #c7ced4 100%);
$text-color: #535353;
$link-color: #3E79B9;
$link-color-active: #326fb1;

// TYPOGRAPHY
$default-font-family: 'Open Sans', Helvetica, sans-serif;
$default-font-weight: 300;
$bolded-font-weight: 400;
$default-line-height: 1.4;

// LOGO
$logo-size: 75px;

// TITLE
$title-distance-from-top: 100px;

// EVENTS
$events-width: 230px;
